<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet"
        type="text/css"
        href="src/app/layouts/advanced-search/advanced-search.css">
    <script src="src/app/layouts/advanced-search/advanced-search.js"></script>
</head>

<div id="search"
    class="advanced-search-tab">

    <div style="width: 100%">
        <div class="tab-header">
            <span>Tìm kiếm nâng cao</span>
            <button id="close-search"
                onclick="clickSearch()">X</button>
        </div>

        <div class="tab-wrap">
            <span class="tab-title">Cửa hàng</span>
            <select id="formShop">
                <option>Vin3S Tôn Đức Thắng</option>
                <option>Vin3S Phạm Ngọc Thạch</option>
            </select>
        </div>

        <div class="tab-wrap">
            <span class="tab-title">Thời gian</span>
            <select id="formTime">
                <option value="1">Hôm nay</option>
                <option value="7">7 ngày gần đây</option>
                <option value="30">1 tháng gần đây</option>
            </select>
        </div>


        <div class="tab-wrap">
            <span class="tab-title">Giới tính</span>
            <div id="formGender">
                <button value="male">Nam <span><img src="src/assets/images/tick.png" /></span></button>
                <button value="female">Nữ <span><img src="src/assets/images/tick.png" /></span></button>
            </div>
        </div>


        <div class="tab-wrap">
            <span class="tab-title">Khoảng tuổi</span>
            <div id="formAge">
                <button value="<19"> &lt;19 <span><img src="src/assets/images/tick.png" /></span></button>
                <button value="19-24">19 - 24 <span><img src="src/assets/images/tick.png" /></span></button>
                <button value="25-35">25 - 35 <span><img src="src/assets/images/tick.png" /></span></button>
                <button value="36-45">36 - 45 <span><img src="src/assets/images/tick.png" /></span></button>
                <button value=">45"> &#62;45 <span><img src="src/assets/images/tick.png" /></span></button>
            </div>
        </div>
    </div>

    <div class="tab-footer">
        <button id="reset-btn"
            onclick="resetSearch()">Đặt lại</button>
        <button id="submit-btn"
            onclick="submitSearch()">Tìm kiếm</button>
    </div>
</div>

</html>