:root {
    --bg-color-scroll: #aab2bf;
    --bg-color-scroll-2: #d9d9d9;
    --bg-color-scoll-track: #d7d7d7;
    --border-radius-scroll: 4px;
    --width-scroll: 6px;
    --height-scroll: 6px;
}

body {
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
/* scroll */
.custom-scrollbar::-webkit-scrollbar {
    width: var(--width-scroll);
    height: var(--height-scroll);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--bg-color-scroll);
    border-radius: var(--border-radius-scroll);
}
.custom-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 var(--border-radius-scroll) var(--bg-color-scroll-2);
    border-radius: var(--border-radius-scroll);
    background: var(--bg-color-scoll-track);
}
/* end scroll */

.main-content {
    display: flex;
}

#nav {
    display: block;
    position: relative;
}

.page-wrapper {
    background: #031831;
    position: relative;
    height: calc(100vh - 64px);
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.page-container {
    padding: 24px;
}

#page {
    margin-top: 24px;
    width: 100%;
}

.cButton {
    margin: auto 3px;
    user-select: none;
    cursor: pointer;
}

.page-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.advanced-search-tab {
    width: 280px;
    height: 100%;
    z-index: 99;
    position: absolute;
    right: 0;
    top:64px;
    background: #051F3D;
    /* box-shadow: 0px 0px 60px #000000; */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 16px;
}

.tab-wrap {
    min-width: 248px;
    display: flex;
    flex-direction: column;
    margin: 12px auto;
}

.tab-title {
    color: white;
    opacity: 0.8;
    font-size: 14px;
    padding-bottom: 8px;
}

.tab-wrap > select {
    min-width: inherit;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    color: white;
    padding:10px;
    background: #051F3D;
}

.button-check {
    background: rgba(49, 151, 255, 0.2) !important;
}

.tab-wrap  button {
    background: #051F3D;
    color: white;
    border-radius: 8px;
    height: 32px;
    border: 1px solid lightgray;
}