<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet"
        type="text/css"
        href="src/app/layouts/header/header.css">
    <script src="src/app/layouts/header/header.js"></script>
</head>

<div class="header-bar">
    <div class="header-left">
        <img onclick="onCollapseNav()"
            class="menu-icon"
            src="src/assets/images/menu.svg" />

        <img class="header-logo"
            src="src/assets/images/vinbigDataLogo.png" />

        <div class="header-location">VIN 1S PHẠM NGỌC THẠCH</div>

    </div>

    <div class="header-right">
        <!-- <select>
                <option value="VI">
                    <img src="src/assets/images/VN.png" />
                    VI
                </option>
                <option value="EN">EN</option>
            </select> -->
        <div class="header-lang">
            <img src="src/assets/images/VN.png" />
            VI
        </div>
        <img src="src/assets/images/notification.png" />

        <div class="header-user">
            <span class="user-text">Standard User</span>
            <img src="src/assets/images/vinLogo2.png" />
        </div>
    </div>

</div>

</html>